*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: #7c8798;
  background-color: #121417; }

.title-h2 {
  color: white;
  font-weight: 700; }

.container {
  background-color: #252d37;
  min-width: 25rem;
  border-radius: 2rem;
  box-shadow: 0.8px 0.5px 4px #959eac, -0.5px -0.5px 4px #252d37;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 3rem;
  z-index: 10; }

.hidden {
  visibility: hidden; }

.attribution {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 1.2rem;
  text-align: center;
  z-index: -10; }

.attribution a {
  color: #959eac; }

@media screen and (min-width: 37.6em) {
  .container {
    max-width: 35rem; }
  .attribution {
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -20%); } }

.rating {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%); }
  .rating__icon {
    width: 4rem;
    height: 4rem;
    background-color: #343f4c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 1px 0.2px 2px #959eac; }
    .rating__icon img {
      display: block; }
  .rating__text {
    line-height: 1.5;
    padding: 2rem 0; }
  .rating__score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem; }

.btn {
  display: inline-block;
  border: none;
  color: #959eac;
  background-color: #343f4c;
  border-radius: 100px;
  text-transform: uppercase;
  cursor: pointer; }
  .btn__score {
    width: 4rem;
    height: 4rem;
    box-shadow: 1px 0.3px 2px #959eac; }
    .btn__score:hover {
      background-color: #7c8798;
      color: white; }
    .btn__score:active {
      background-color: #fb7413;
      color: white; }
  .btn__submit {
    background-color: #fb7413;
    padding: 1.5rem;
    color: white;
    letter-spacing: 3px;
    box-shadow: 1px 0.5px 2px #959eac; }
    .btn__submit:hover {
      background-color: white;
      color: #fb7413; }

.active {
  background-color: #fb7413;
  color: white; }

.thanks {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%); }
  .thanks .img {
    text-align: center;
    margin-bottom: 3rem; }
  .thanks__selected {
    display: inline-block;
    color: #fb7413;
    background-color: #343f4c;
    border-radius: 100px;
    text-align: center;
    align-self: center;
    width: 70%;
    padding: 1rem;
    margin-bottom: 3rem; }
  .thanks__title {
    text-align: center;
    margin-bottom: 2rem; }
  .thanks__text {
    text-align: center;
    line-height: 1.5; }
