// COLOR
$color-primary: hsl(25, 97%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-white-transparent: hsl(217, 12%, 15%);
$color-gray-light: hsl(217, 12%, 63%);
$color-gray-medium: hsl(216, 12%, 54%);
$color-blue-dark: hsl(213, 19%, 18%);
$color-blue-dark-2: hsl(213, 19%, 25%);
$color-blue-darkest: hsl(216, 12%, 8%);
